
body {
    height: 97vh;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: 'outfit', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.container {
    text-align: center;
    padding: 1em;
    width: 21em;    
    border-radius: 1em;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.qr-img {
    width: 21em;
    height: 21em;
    border-radius: .5em;
    background-image: url(./images/image-qr-code.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

h2 {
    padding: .5em 1em;
    margin-bottom: 0em;
    color: hsl(218, 44%, 22%);
}

p {
    margin-top: .5em;
    padding: 0em 2em;
    color: hsl(220, 15%, 55%);
}
